@model ExpressBase.ServiceStack.Registermodel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(FormMethod.Post, new
{
    @class = "form-horizontal",
    role = "form",
    enctype = "multipart/form-data"
}))
{
    <head>
        <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
        <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
        <meta charset=utf-8 />
        <style>
            article, aside, figure, footer, header, hgroup,
            menu, nav, section {
                display: block;
            }
        </style>
    </head>
    <form>
        <div>


            <div class="editor-label">
                @Html.LabelFor(u => u.FirstName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.FirstName)
                @Html.ValidationMessageFor(u => u.FirstName)

            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.LastName)
            </div>

            <div class="editor-field">
                @Html.TextBoxFor(u => u.LastName)
                @Html.ValidationMessageFor(u => u.LastName)

            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.MiddleName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.MiddleName)
                @*@Html.ValidationMessageFor(u => u.MiddleName)*@
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.dob)
            </div>
            <div class="editor-field">
                @Html.EditorFor(u => u.dob, new { @type = "date" })
                @Html.ValidationMessageFor(u => u.dob)
            </div>
            <div>
                @*@using (Html.BeginForm("Upload", "Picture", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
                      {
                          <div>
                              Upload an image: <input type="file" name="Imageupload" id="Imageupload" />
                              <input type="submit" value="Upload" />
                          </div> }*@
                <div>
                    @Html.LabelFor(u => u.Profileimg)
                    @Html.TextBoxFor(u => u.Profileimg, new { type = "file", onchange = "readURL(this)" }) <img id="img" src="#" alt="your image1" />
                   
                    <script>
                        function readURL(input) {
                            if (input.files && input.files[0]) {
                                 var reader = new FileReader();
                                 reader.onload = function (e) {
                                 $('#img')
                                .attr('src', e.target.result)
                                .width(200)
                                .height(200);
                                };

                                reader.readAsDataURL(input.files[0]);
                                }
                              }</script>

                </div>



            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Locale)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Locale)
                @Html.ValidationMessageFor(u => u.Locale)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.PhNoPrimary)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.PhNoPrimary)
                @Html.ValidationMessageFor(u => u.PhNoPrimary)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.PhNoSecondary)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.PhNoSecondary)
                @*  @Html.ValidationMessageFor(u => u.PhNoSecondary)*@
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Landline)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Landline)
                @Html.ValidationMessageFor(u => u.Landline)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Extension)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Extension)
                @Html.ValidationMessageFor(u => u.Extension)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Email)
                @Html.ValidationMessageFor(u => u.Email)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Alternateemail)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Alternateemail)
                @Html.ValidationMessageFor(u => u.Alternateemail)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            <div class="g-recaptcha" data-sitekey="6LfoKA8UAAAAAHmdkrO2G5QmT1X5WSeaBm1_-BP_"></div>
            <input type="submit" value="Register" />
        </div>
    </form>
}